/* CSS Document */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
section, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration:none;
    color:inherit;
}
strong {
    font-weight:bold;
}
input,textarea {
    outline:none;
}

/* Site Style */
html {
    height:100%;
}

body {
    color:#000;
    height:100%;
    background:url("./graphics/egg_shell.png");
    font-family:tahoma,sans-serif;
}

h1, h2, h3, h4, h5 {
    color:#d10000;
    font-family:Times New Roman;
}

div#mainWrapper h2 {
    font-size:20px;
    color:#D90000;
    margin-bottom:10px;
}

div#mainWrapper p {
    font-size:15px;
    line-height:22px;
}

div#mainWrapper {
    width:960px;;
    margin:auto;
    padding:0px 20px 20px 20px;
}

div#topBarWrapper {
    position:fixed;
    z-index:2;
    -moz-box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
    background:#fff;
    min-width:100%;
    z-index:2;
}

ul#navLinks {
    display:block;
    height:100%;
}

li.navLink {
    display:inline-block;
    height:100%;
    margin-right:20px;
    text-align:middle;
}

li.navLink > a {
    display:inline-block;
    padding:13px 0 13px 0;
    font-weight:bold;
    height:inherit;
}

li.navLink a:hover {
    color:#aaa;
}


header#topBar {    
    min-width:800px;
    max-width:960px;;
    margin:auto;
    color:#666;
    font-size:14px;
    letter-spacing:1px;
    height:40px;
}

header#topBar span {
    color:#d10000;
    padding-left:5px;
    padding-right:5px;
}

header#logoHeader {
    position:relative;
    width:960px;;
    margin:auto;
}

header#logoHeader > img#logo {
    width:200px;    
    padding-top:80px;
}

section.mainSection {
    line-height:30px;
    padding-top:60px;
    position:relative;
}

section.mainSection:first-child {
    padding-top:50px;
}

section.mainSection > h1,
footer h1 {
    font-size:50px;
    line-height:60px;    
    margin-bottom:30px;
    padding-left:30px;
    padding-right:30px;
}

section#gallery div#imageWrapper {
    position:relative;
    width:800px;
    margin:auto;
    background-color:#aaa;
}

section#gallery aside {
    position:absolute;
    bottom:0;
    padding:25px;
}

section#gallery aside > * {
    color:#fff !important;
}

section#gallery img.galleryImage {
    border:5px #fff solid;
    -moz-box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
    width:800px;
    margin:auto;
    display:block;
}

section#gallery a {
    position:absolute;
    top:50%;
    height:33px;
    width:33px;
    margin-top:-16px;
}

section#gallery a#goLeft {
    background-image:url("./graphics/left.png");
}

section#gallery a#goLeft:hover {
    background-image:url("./graphics/left_highlight.png");
}

section#gallery a#goRight {
    background-image:url("./graphics/right.png");
    right:0;
}

section#gallery a#goRight:hover {
    background-image:url("./graphics/right_highlight.png");
    right:0;
}

section#coreValuesAndAboutUs h1:nth-child(1) { 
    float:left;
}

section#coreValuesAndAboutUs h1:nth-child(2) { 
    float:right;
}

section#coreValuesAndAboutUs h1:hover {
    cursor:pointer;
}

section#coreValuesAndAboutUs h1.nonActive {
    color:#aaa;
}

section#coreValuesAndAboutUs h1.nonActive:hover {
    color:#f3aaaa;
}

section#coreValuesAndAboutUs section.nonActive {
    display:none;
}

section #coreValues{
    clear:both;
}

section#coreValues ul {
    font-size:25px;
    overflow:auto;
    padding:30px;
    -moz-box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
    background:#fff;
}

section#coreValues li {
    float:left;
    width:31%;
}

section#coreValues li:nth-child(2) {
    padding-left:3%;
    padding-right:3%;
}

section#aboutUs {
    background:#fff;
    clear:both;
    padding-top:30px;
    padding-bottom:20px;
   -moz-box-shadow: 0 0 10px #aaa;
   -webkit-box-shadow: 0 0 10px #aaa;
   box-shadow: 0 0 10px #aaa;
}

section#aboutUs p {
    margin-left:30px;
    margin-bottom:30px;
    margin-right:30px;
}

section#aboutUs p.indent {
    text-indent:30px;
    display:block;
}

/***************/
section#ourServices {}

ul#serviceList {
    display:table;
    width:100%;
}

ul#serviceList > li {
    display:table-cell;
    text-align:center;
    height:10px;    
}

ul#serviceList > li {
    color: transparent;
    font-size:1px;
}

ul#serviceList > li:nth-child(1) {background-color:red;}
ul#serviceList > li:nth-child(2) {background-color:orange;}
ul#serviceList > li:nth-child(3) {background-color:yellow;}
ul#serviceList > li:nth-child(4) {background-color:green;}
ul#serviceList > li:nth-child(5) {background-color:blue;}
ul#serviceList > li:nth-child(6) {background-color:purple;}

footer {
    min-height:100%;
    min-width:100%;
    background-color:#04756f;
    border-top:2px #059992 solid;
    position:relative;
    margin-bottom:-120px;
    z-index:3;
    margin-top:100px;
}

section#contactUs {
    width:960px;
    margin:auto;
    padding-bottom:30px;
}

section#contactUs h1 {
    background:url('./graphics/footer_border.png') repeat-x;
    background-position:left bottom;
    padding-top:60px;
    padding-bottom:5px;
    color:#fff !important;
}

section#contactUs address {
    margin:0 30px 0 30px;
    color:#fff;
    line-height:24px;
    font-size:24px;
}

section#contactUs address span {
    font-size:16px;
    margin-right:10px;
    display:inline-block;
    text-align:center;
}

section#contactUs li {
    margin-bottom:30px;
}

section#contactUs form {
    margin-left:30px;
    margin-right:30px;
}

section#contactUs form > .takesInput {
    display:block;
    padding:10px;
    border-radius:5px;
    margin-top:10px;
    border:0;
    width:400px;
    font-family:tahoma; 
}

section#contactUs textarea {
    min-height:200px;
    width:880px !important;
}

section#contactUs input.submit {
    border-radius:5px;
    padding:10px;
    border:0;
    background:#fff;
    margin-top:10px;
    margin-left:0;
}

section#contactUs input.submit:hover {
    cursor:pointer;
}

div#copyrightWrapper,
div#copyrightPush {
    height:120px;
}

div#copyrightWrapper {
    position:relative;
    width:960px;
    margin:auto;
    z-index:4;
    font-family:tahoma, arial, sans-serif;
    color:#012624;
}

address#contactInfo  {
    text-align:center;
    padding-bottom:20px;
}

address#contactInfo span {
    text-align:center;
    display:inline-block;
    font-size:30px;
}

address#contactInfo span:first-child {
    margin-right:30px;
}

aside#copyright {
    padding-top:25px;
    margin:0 auto 0 auto;
    line-height:12pt;
    font-size:8pt;
    text-align:center;
}

.clear {
    clear:both;
    display:none;
}